@font-face {
  font-family: "CarismaClassic";
  src: url("../fonts/CarismaClassic-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "CarismaClassic";
  src: url("../fonts/CarismaClassic-Bold.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: "CarismaClassic";
  -webkit-font-smoothing: antialiased;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.newHeader {
  z-index: 175;
  min-width: 1020px;
  position: relative;
  background: white;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.newHeader__top {
  background: white;
  padding: 5px 0 7px 0;
}

.newHeader__top__in {
  width: 1020px;
  height: 18px;
  margin: 0 auto;
}

.newHeader__user {
  position: relative;
  float: left;
}

.newHeader__user__link {
  float: left;
  padding-right: 5px;
  color: #000;
  font-size: 16px;
  letter-spacing: .5px;
  text-decoration: none;
}

.newHeader__user__sep {
  float: left;
  padding-right: 5px;
}

.newHeader__linkToShops {
  float: right;
  margin-right: 8px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  letter-spacing: .5px;
}

.newHeader__linkToShops:before{
  display: inline-block;
  margin-bottom: -2px;
  margin-right: 3px;
  content: '';
  width: 15px;
  height: 15px;
  background: url(../img/shops.svg) 0 0 no-repeat;
}

.newHeader__main {
  background: #000;
  padding: 12px 0 17px 0;
}

.newHeader__main__in {
  position: relative;
  display: table;
  width: 1020px;
  margin: 0 auto;
}

.newHeader__burgerWrap {
  display: none;
  padding: 10px;
  margin: 0 20px -10px 10px;
  position: relative;
  top: -10px;
}

.newHeader__burger {
  width: 40px;
  height: 30px;
  background: url(../img/burger.svg) 0 0 no-repeat;
  display: inline-block;
}

.newHeader__logo {
  display: table-cell;
  width: 310px;
  height: 48px;
  background: url(../img/logo-b.svg) 0 0 no-repeat;
}

.newHeader__search {
  display: table-cell;
  vertical-align: top;
  padding-top: 15px;
  padding-left: 69px;
}

.newHeader__search__form {
  display: inline-block;
  position: relative;
}

.newHeader__search__input {
  width: 313px;
  height: 31px;
  padding: 4px 7px;
  font-size: 12px;
  padding-right: 30px;
  border: none;
}

.newHeader__search__input:focus {
  outline: none;
}

.newHeader__search__btn {
  position: absolute;
  right: 9px;
  top: 6px;
  width: 17px;
  height: 17px;
  background: url(../img/search-black.svg) 0 0 no-repeat;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.newHeader__search__close {
  display: none;
  position: absolute;
  right: 9px;
  top: 6px;
  width: 15px;
  height: 15px;
  background: url(../css/img/close-small.svg) 0 0 no-repeat;
  border: none;
  cursor: pointer;
  text-indent: -9999px;
}

.newHeader__iconActions {
  display: table-cell;
  vertical-align: top;
  padding-top: 16px;
  padding-right: 12px;
  text-align: right;
}

.newHeader__favoriteIcon {
  display: inline-block;
}

.newHeader__favoriteIcon__link {
  display: block;
  width: 33px;
  height: 29px;
  background: url(../img/favorite-white.svg) 0 0 no-repeat;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.newHeader__shopcartIcon {
  position: relative;
  display: inline-block;
  margin-right: -6px;
  padding-left: 20px;
}

.newHeader__shopcartIcon__link {
  display: block;
  width: 29px;
  height: 29px;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  background: url(../img/shopcart.svg) 0 0 no-repeat;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.shopcartPop {
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: -16px;
  top: 10px;
  width: 304px;
  text-align: left;
  background: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.shopcartPop__top {
  position: relative;
  padding: 15px 15px 10px 15px;
  border-bottom: 1px solid #ccc;
}

.shopcartPop__title {
  float: left;
  font-size: 16px;
}

.shopcartPop__icon {
  position: relative;
  float: right;
  display: block;
  width: 29px;
  height: 27px;
  margin-top: -5px;
  margin-right: 2px;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  background: url(../img/shopcart-black.svg) 0 0 no-repeat;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.shopcartPop__topBg {
  z-index: 2;
  position: relative;
  height: 4px;
  margin-bottom: -4px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}

.shopcartPop__content {
  overflow: auto;
  max-height: 250px;
}

.shopcartPop__bottomBg {
  height: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(transparent));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}

.shopcartPop__actions {
  padding: 15px 16px;
}

.shopcartPop__actions__goToCart {
  float: left;
  width: 49%;
  text-align: center;
  margin-right: 2.5px;
  padding: 6px 0px;
  font-size: 12px;
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
}

.shopcartPop__actions__order {
  float: right;
  width: 49%;
  margin-left: 2.5px;
  padding: 5px 0;
  text-align: center;
  color: white;
  font-size: 12px;
  background: #000;
  border: 2px solid #000;
  text-decoration: none;
}

.shopcartPop_mobile {
  display: none;
}

.main-wrapper {
  width: 1020px;
  margin: 0 auto;
  background: #fff;
  font-size: 12px;
  line-height: 1.2em;
}

._js_main-wrapper {
  padding-top: 57px;
}

.newMainMenu {
  position: absolute;
  left: 0;
  top: 107px;
  width: 100%;
  height: 57px;
}

.newMainMenu__list {
  display: table;
  width: 1020px;
  margin: 0 auto;
  padding: 27px 0 0 0;
  position: relative;
}

.newMainMenu__item {
  position: static;
  margin: 0;
  float: left;
}

.newMainMenu__item + .newMainMenu__item {
  margin-left: 63px;
}

.newMainMenu__link {
  position: relative;
  display: inline-block;
  /* padding-bottom: 11px; */
  color: #000;
  font-size: 15px;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  /* border-bottom: 2px solid transparent; */
}

.newMainMenu__item._withSeparator {
  width: 130px;
  padding-right: 15px;
}

.newMainMenu__item._withSeparator .newMainMenu__link {
  font-weight: normal;
}

._withSeparator .newMainMenu__link:before {
  content: '';
  position: absolute;
  left: -28px;
  top: 0;
  width: 1px;
  height: 14px;
  background: #000;
}

.newMainMenu__item._active .newMainMenu__link:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background: #000;
  top: 27px;
  display: block;
}

.promoTop {
  height: 420px;
  background-color: #57bcd0;
  background-image: url(../img/bg-pattern.png);
}

.promoWrapper {
  position: relative;
  width: 1020px;
  height: 100%;
  margin: 0 auto;
}

.promoTop .promoWrapper {
  overflow: hidden;
}

.tagline {
  position: absolute;
  top: 97px;
  right: 19px;
  width: 226px;
  height: 225px;
}

.tagline img {
  display: block;
  width: 100%;
  height: auto;
}

.promoTopBg {
  position: absolute;
  bottom: -7px;
  width: 272px;
}

.promoTopBg-1 {
  width: 310px;
  bottom: -26px;
  left: 13px;
}

.promoTopBg-2 {
  left: 249px;
  z-index: 1;
}

.promoTopBg-3 {
  left: 470px;
}

.promoTopBg img {
  display: block;
  width: 100%;
}

.promoDesc {
  background: linear-gradient(to top, #00bdd2 50%, #ffbccf 50%);
  padding: 98px 0 91px;
}

.promoDescContent {
  background: #000;
  width: 823px;
  margin: auto;
  padding: 62px 55px 83px;
  color: #fff;
  text-align: center;
  font-size: 33px;
}

.promoDescContent_text {
  margin: 42px 0 0;
  line-height: 1.23;
}

.promoDescContent_text + .promoDescContent_text {
  margin-top: 40px;
}

.promoDecorPic {
  position: absolute;
}

.promoDecorPic img {
  display: block;
  width: 100%;
}

.promoDecorPic__1 {
  top: -44px;
  left: -44px;
  width: 155px;
  transform: rotate(22deg);
}

.promoDecorPic__2 {
  top: 180px;
  left: -30px;
  width: 93px;
  transform: rotate(-5deg);
}

.promoDecorPic__3 {
  width: 105px;
  bottom: -39px;
  left: -18px;
  transform: rotate(15deg);
}

.promoDecorPic__4 {
  width: 155px;
  top: -44px;
  right: -27px;
  transform: rotate(-18deg);
}

.promoDecorPic__5 {
  width: 150px;
  top: 256px;
  right: -55px;
  transform: rotate(18deg);
}

.promoDecorPic__6 {
  width: 91px;
  bottom: -53px;
  right: -23px;
  transform: rotate(-9deg);
}

.promoSlider {
  padding: 45px 0 57px;
  background: #000;
}

.pormotion {
  padding: 35px 0 39px;
  background: #ff7698;
}

.promotionContainer {
  position: relative;
  max-width: 1256px;
  margin: auto;
  width: 100%;
  background: url(../img/promotion-bg.jpg) top left no-repeat;
}

.promotionFrame {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.promotionFrame img {
  display: block;
}

.promotionFrame:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 125px;
  height: 125px;
  background: url(../img/play-frame.png);
  content: '';
}

.promotionDesc {
  position: relative;
  width: 554px;
  height: 639px;
  margin: auto;
  padding: 43px 37px;
  background: #fff;
  font-size: 29px;
  text-align: center;
  line-height: 1.23;
}

.promotionBg {
  position: absolute;
  bottom: -23px;
  left: 61px;
  transform: rotate(35deg);
}

.promotionText + .promotionText {
  margin: 35px 0 0;
}

.promotionNote {
  position: absolute;
  bottom: 25px;
  right: 32px;
  text-align: right;
  font-size: 20px;
}

.productsListItem {
  float: left;
  width: 215px;
}

.productsListItem + .productsListItem {
  margin-left: 53px;
}

.productsListItem:nth-child(5n) {
  margin-left: 0;
}

.productsListItem:nth-child(n + 5) {
  margin-top: 73px;
}

.pormoProducts {
  padding: 60px 0 40px;
}

.productsList {
  margin-top: 62px;
}

.productPic {
  width: 215px;
  height: 215px;
}

.productPic img {
  width: 100%;
  display: block;
}

.productsTitle {
  color: #010101;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
}

.productTitle {
  margin: 30px 0 0;
  font-size: 22px;
  font-weight: 700;
}

.productDesc {
  margin: 9px 0 0;
  font-size: 20px;
  min-height: 69px;
}

.productPrice {
  margin: 25px 0 0;
  float: left;
  font-size: 38px;
  font-weight: 700;
}

.productPrice span {
 font-size: 20px;
}

.btnBuy {
  display: block;
  float: right;
  margin: 21px 0 0;
  padding: 10px 15px 8px 14px;
  width: 60px;
  height: 50px;
  background: #f40000;
  border-radius: 4px;
  cursor: pointer;
}

.btnBuy:before {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/btn-buy.png);
  content: '';
}

.btnMore {
  display: block;
  width: 432px;
  border: 1px solid #000;
  color: #000;
  font-size: 25px;
  line-height: 74px;
  margin: 63px auto 0;
  text-align: center;
  cursor: pointer;
}

.note {
  font-size: 20px;
  margin: 39px 0 0;
  line-height: 1.15;
}

ol {
  counter-reset: item;
}

ol > li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}

.slider-in {
  position: relative;
  width: 1020px;
  margin: auto;
}

.sliderItem {
  outline: none;
}

.sliderItem img {
  display: block;
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 38px;
  height: 66px;
  margin: auto;
  display: block;
  content: '';
  border: none;
  outline: none;
  background: url(../img/slider-arrow.png);
  cursor: pointer;
  font-size: 0;
  line-height: 0;
}

.slick-arrow:before {}

.slick-prev.slick-arrow  {
  transform: scale(-1, 1);
  left: -88px;
}

.slick-next.slick-arrow {
  right: -88px;
}

.newFooter {
  min-width: 1020px;
  background: #000;
  color: white;
}

.newFooter__in {
  position: relative;
  width: 1020px;
  margin: 0 auto;
  padding: 56px 5px 30px;
}

.newFooter__nav {
  position: relative;
}

.newFooter__right {
  float: right;
  width: 20%;
  text-align: right;
  padding-right: 60px;
}

.newFooter__logo {
  display: block;
  width: 242px;
  height: 37px;
  background: url(../img/logo-b.svg) 0 0 no-repeat;
}

.newFooter__menu {
  display: table;
  padding-top: 16px;
  line-height: 12px;
}

.newFooter__menu__bl {
  display: table-cell;
  width: 202px;
  vertical-align: top;
}

.newFooter__menu__label {
  height: 14px;
  font-size: 13px;
  text-transform: uppercase;
}

.newFooter__menu__list {
  margin: 13px 0 0;
  padding: 0;
  list-style: none;
}

.newFooter__menu__item {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
}

.newFooter__menu__link {
  color: white;
  font-size: 13px;
  text-decoration: none;
}

.newFooter__phone {
  margin: 18px 0 0;
  font-size: 17px;
}


.newFooter__age {
  position: absolute;
  top: 4px;
  right: 0;
  width: 30px;
  height: 30px;
  background: url(../img/copy-age.svg) 0 0 no-repeat;
}

.newFooter__apps {
  float: right;
  margin: -4px 70px 0 0;
}

.newFooter__apps__link {
  display: block;
  width: 140px;
  height: 42px;
}

.newFooter__apps__link + .newFooter__apps__link {
  margin-top: 23px;
}

.newFooter__apps__link._google {
  background: url(../img/google.svg) 0 0 no-repeat;
}

.newFooter__apps__link._apple {
  background: url(../img/apple.svg) 0 0 no-repeat;
}

.newFooter__copyright {
  margin: 16px 0 0;
  font-size: 10px;
}

.newFooter__copyright__link {
  color: #fff;
  font-size: 11px;
}

.lightbox {
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

.lightbox-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox-content iframe {
  display: block;
}
