.form-control {
  display: block;
  color: #aaa;
  min-width: 250px;
  line-height: 28px;
  width: 100%;
  height: 50px;
  padding: 10px;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.form-group {
  position: relative;
  label {
    position: absolute;
    top: 0;
    color: #aaa;
    margin-left: 10px; 
    font-size: 16px;
    line-height: 50px;
    cursor: text;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .form-control:focus + label {
    
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.error-message {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  width: 168px;
  margin: auto;
  padding: 0 12px;
  background: #bb4444;
  border-radius: 2px;
  color: #eee;
  font-size: 16px;
  line-height: 36px;
  z-index: 1;

  &:after {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bb4444 transparent;
    content: '';
  }
}

.form-group.has-error {
  .error-message {
    display: block;
  }

  .form-control {
    border-color: #bb4444;
  }

  label {
    color: #bb4444;
  }
}

.form-group.has-success {
  .form-control {
    border-color: #4488bb;
    color: #4488bb
  }

}

.checkbox {
  input {
    position: absolute;
    width: auto;
    height: auto;
    visibility: hidden;

    & + label {
      position: relative;
      padding-left: 25px;
      display: block;
      color: #aaa;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background: #eee;
      }
    }
  }
}

.checkbox {
  input:checked  {
    & + label {
      &:after {
        content: '\2714';
        position: absolute;
        top: 0;
        left: 3px;
        width: 14px;
        height: 14px;
      }
    }
  }
}

.btn {
  display: inline-block;
  border-radius: 2px;
  line-height: 30px;
  text-align: center;
  width: 125px;
  cursor: pointer;
}

.btn_accept {
  color: #fff;
  background: linear-gradient(to top, #2e5e81, #4488bb);;
}

.btn_cancel {
  width: 100px;
}